article {
    font-size: 16px;
}
/* error */
.wikitext-syntax-error {
    font-weight: bold;
    font-size: 18px;
    border: 1px solid red;
    background: red;
    color: white;
}
/* table */
table,tr,td {
    border: 1px solid black;
    border-collapse: collapse;
}
/* intent */
.wiki-indent {
    margin-left: 2rem;
}
/* font size levels */
.wiki-size-1-level {
    font-size: 18px;
}
.wiki-size-2-level {
    font-size: 20px;
}
.wiki-size-3-level {
    font-size: 22px;
}
.wiki-size-4-level {
    font-size: 24px;
}
.wiki-size-5-level {
    font-size: 26px;
}
/* footnote*/
sup.footnote-sup {
    color: red;
}
a.footnote {
    text-decoration: none;
}
a.footnote:hover {
    text-decoration: underline;
}
/* links */
.wiki-external-link:before {
    content: "外";
    background: green;
    color: white;
}
.wiki-external-link {
    color: green;
}
.wiki-internal-link {
    color: blue;
}
/* toc macro */
.wiki-toc {
    padding: 10px;
    border: 1px solid black;
}
.wiki-toc .wiki-toc-heading {
    font-weight: bold;
    font-size: 20px;
}
.wiki-toc .wiki-toc-item {
    margin-left: 1rem;
}
.wiki-toc .wiki-toc-item.wiki-toc-item-indent-1 {
    margin-left: 1rem;
}
.wiki-toc .wiki-toc-item.wiki-toc-item-indent-2 {
    margin-left: 2rem;
}
.wiki-toc .wiki-toc-item.wiki-toc-item-indent-3 {
    margin-left: 3rem;
}
.wiki-toc .wiki-toc-item.wiki-toc-item-indent-4 {
    margin-left: 4rem;
}
.wiki-toc .wiki-toc-item.wiki-toc-item-indent-5 {
    margin-left: 5rem;
}
.wiki-toc .wiki-toc-item.wiki-toc-item-indent-6 {
    margin-left: 6rem;
}