html
    head
        title 파서 테스트용 위키 앱
    body
        form(method="POST", enctype="application/x-www-form-urlencoded; charset=utf-8")
            label(for="wikitext") 위키텍스트
            br
            textarea(style={width: '600px', height: '600px'}, name="wikitext")
            br
            input(type="submit", value="저장")