html
    head
        title 파서 테스트용 앱
    body
        form(action="/write", method="POST", enctype="application/x-www-form-urlencoded; charset=utf-8")
            label(for="wikitext") 위키텍스트
            br
            textarea(style={width: '600px', height: '600px'}, name="wikitext")
            br
            label(for="title") 문서명
            input(type="text", name="title")
            input(type="submit", value="제출")
            input(type="checkbox", name="render", value="yes", checked)
            span 렌더링